*{
    margin: 0;
    padding: 0;
}
body{

    margin: 0;
    padding: 0;
}

html{

    margin: 0;
    padding: 0;

}

#top-nav{

    background-color: #ffffff;
    width: 100%;
    height: 5rem;
    position: relative;
    

   
}
#top-nav img{

    width: 15rem;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);

}

#menu1{

    display: flex;
    width: 20%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    
    justify-content: space-between;
    overflow: hidden;
    
}
#menu1 p{
    
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    text-transform: uppercase;
}

#carousal{

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    overflow: hidden;
    justify-content: center;
}

#home-section3{

    
    display: flex;
    align-items: center;
    padding: 2.5rem 0;
    background-color: #000066;
}

.home-section3-1{

    display: inline;
    padding: 0 5%;
    
}
.h2{

    font-size: 2.25rem;
    color: #00B7D3;
    padding: 2.5rem 0 0 0;
    
}
.home-section3-1 .h2{

    text-align: center;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    font-size: 2rem;
    font-weight: 500;
    
    
}
.home-section3-1 .copy{

    text-align: justify;
    padding: 2.5rem 0;
    font-size: 1.1rem;
    color: #e6e6e6;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.copy{

    font-size: 1rem;
    font-weight: 350;
    
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}

/*
.home-section3-2{

    display: inline;
    padding: 0 5%;
    
}*/

.home-section3-2 img{

    width: 20rem;
}

#home-section4{

    position: relative;
    overflow: hidden;
    
}

.contact-img{


   width: 100%; 
   display: flex;
   justify-content: center;
    
    
    
}

.getintouch{

    
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 50%;
    align-items: center;
    gap: 6rem;



}

.getintouch>p{
    text-transform: uppercase;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    font-size: 2rem;
    font-weight: 600;



}

form{

    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 1.5rem;
    width: 75%;
    
}

input, textarea{

    border-radius: 0.25rem;
    padding: 1rem;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    outline: 0;
    border: 1px solid #ffffff;
    width: 100%;
    font-size: 0.85rem;
    
}
.input-group{

    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.input-group span{

   
    position: absolute;
    right: 5%;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    
    font-size: 0.85rem;
    color:red;


}
#message-error{

    bottom: 5%;


}

#sendBtn{

    padding: 0.75rem 1rem;
    width: 35%;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    cursor: pointer;
    background-color: #00B7D3;
    color: #000066;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}
#sendBtn:hover{

    background-color: #00B7D3;
    color: #000066;
}
.hide{

    display: none;
}


@media (max-width:767px){

    html{

        font-size: 14px;
    }

    #menu1{

        display: none;
    }

    .getintouch{

        width: 95%;
    }



}